@media (max-width: 28em) {
  html {
    font-size: 52.5%;
  }

  body {
    background: url(/images/pattern-background-mobile.svg) no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
  }
}
