* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  line-height: 1;
  height: 100vh;
  max-width: 144rem;
  position: relative;
  background-color: hsl(225, 100%, 94%);
}

.order-background-img {
  width: 100%;
  height: 50%;
}

.order-summary-card {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.6rem;
  overflow: hidden;
}

.order-img {
  width: 100%;
  display: block;
}

.order-content-box {
  background-color: hsl(0, 0%, 100%);
  padding: 4rem;
}

.order-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 2rem;
}

.order-details {
  text-align: center;
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.order-price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.8rem;
  margin-bottom: 2.5rem;
}

.music-icon {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1.6rem;
}

.order-price-plan {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.price-title {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-size: 1.2rem;
}

.price-plan {
  color: hsl(224, 23%, 55%);
  font-size: 1.2rem;
}

.price-link:link,
.price-link:visited {
  margin-left: 8rem;
  color: hsl(245, 75%, 52%);
  transition: all 0.3s;
}

.price-link:hover,
.price-link:active {
  color: hsl(245, 74%, 62%);
  text-decoration: none;
}

.order-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.order-button:link,
.order-button:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 8rem;
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 1.5rem hsl(245, 76%, 90%);
}

.order-button:hover,
.order-button:active {
  background-color: hsl(245, 74%, 62%);
}

.order-button-2:link,
.order-button-2:visited {
  text-decoration: none;
  font-size: 1.1rem;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  transition: all 0.3s;
}

.order-button-2:hover,
.order-button-2:active {
  color: hsl(223, 47%, 23%);
}
